.content-card-sedan {
    background-color: hsl(31, 77%, 52%);
    color: white;
    padding: 50px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 355px;
    width: 250px
}

.content-card-suvs {

    background-color: hsl(184, 100%, 22%);
    color: white;
    padding: 50px;
    height: 370px;
    width: 250px;
}

.content-card-luxury {
    background-color: hsl(179, 100%, 13%);
    color: white;
    padding: 50px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 370px;
    width: 250px;
}

.container {
    margin: 80px 30px;
    display: flex;
    flex-direction: column;
}

p {
    font-weight: 400;
    font-family: Lexend Deca;
    line-height: 2em;
    font-size: 15px;
    color: hsla(0, 0%, 100%, 0.75)
}

h2 {
    font-weight: 700;
    font-family: Big Shoulders Display;
    font-size: 40px;
}

.button-sedan {
    font-size: 15px;
    border-radius: 40px;
    text-align: center;
    background-color: white;
    color: hsl(31, 77%, 52%);
    width: 58%;
    height: 14%;
    padding: 15px 32px;
    border: 0;
    margin-top: 20px;
}

.button-suvs {
    font-size: 15px;
    border-radius: 40px;
    background-color: white;
    color: hsl(184, 100%, 22%);
    width: 58%;
    height: 14%;
    padding: 15px 32px;
    border: 0;
    margin-top: 20px;
}

.button-luxury {
    font-size: 15px;
    border-radius: 40px;
    background-color: white;
    color: hsl(179, 100%, 13%);
    width: 58%;
    height: 14%;
    padding: 15px 32px;
    border: 0;
    margin-top: 20px;
}